@import 'application';

@media screen and (min-width: 1025px) {
  .column, .drawer {
    flex: 1 1 auto;
    max-width: 400px;
  }
}

.getting-started {
  background: image-url('mastodon-fairydust.svg') no-repeat 0 100%/contain local;
}
