@import 'application';

@media screen and (min-width: 1025px) {
  .layout-multiple-columns .column,
  .layout-multiple-columns .drawer {
    flex: 1 1 auto;
    min-width: 300px;
    max-width: 400px;
  }
}

.drawer__inner {
  background: #444b5d url('../images/wave-drawer.svg') no-repeat bottom/100% auto;
}

.drawer__inner__mastodon {
  background: url('../../assets/images/mastodon-pride.svg') no-repeat 0 100%/contain;
}

.landing-page__call-to-action {
    background:  #1f232b url('../../assets/images/mastodon-pride.svg') no-repeat 0 100%/contain;
}

.drawer__inner__mastodon img, .landing-page__mascot img {
  display: none;
}
.status__content a {
  color: #49a0de;
}
