@import 'custom';

@media screen and (min-width: 1200px) {
  .layout-multiple-columns .column, .layout-multiple-colums .drawer {
    flex: 1 1 auto;
    max-width: none;
  }
  .layout-multiple-columns .drawer {
    min-width: 300px;
    max-width: 300px;
  }
  .layout-multiple-columns .column {
    min-width: 350px;
  }
}
