@import 'custom';

@media screen and (min-width: 1200px) {
  .column, .drawer {
    flex: 1 1 auto;
    max-width: none;
  }
  .drawer {
    min-width: 300px;
    max-width: 300px;
  }
  .column {
    min-width: 350px;
  }
}
