@import 'mastodon-light/variables';
@import 'application';
@import 'mastodon-light/diff';

@import 'mascot';

.drawer__inner {
  background-color: #fff;
}

.landing-page__call-to-action {
    background-color:  #fff;
}

.status__content a, .status__content a.unhandled-link {
  color: #005c8a;
}
