@import 'mastodon-light/variables';
@import 'application';
@import 'mastodon-light/diff';

.drawer__inner {
  background: #fff url('../images/wave-drawer.svg') no-repeat bottom/100% auto;
}

.drawer__inner__mastodon {
  background: url('../../assets/images/mastodon-fairydust.svg') no-repeat 0 100%/contain;
}

.landing-page__call-to-action {
    background:  #fff url('../../assets/images/mastodon-fairydust.svg') no-repeat 0 100%/contain;
}

.drawer__inner__mastodon img, .landing-page__mascot img {
  display: none;
}
